.songList {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  row-gap: 30px;
  padding: 20px;
}

.searchcontainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: white;
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

label[for="searchinput"] {
  font-size: 24px;
  text-align: center;
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid white;
}

.searchbutton {
  
  background-color: black;
  padding: 6px;
  border-radius: 9px;
  font-size: 20px;
}

.searchbutton:hover {
  background-color: rgb(64, 65, 78);
  cursor: pointer;
}

@media screen and (max-width: 468px) {
  .songList {
    grid-template-columns: repeat(1, 1fr);
  }
}