.librarysong__container{
    width: 100%;
    height: 39px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.librarysongcard{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid white;

}

.librarysong__picture{
    width: 30px;
    height: 30px;
    position: relative;
    left: 20px;
}

.librarysong__songTitle{
    font-size: 18px;
    color: white;
}

.librarysong__artist{
    font-size: 18px;
    color: white;
}

.librarysong__album{
    font-size: 18px;
    color: white;
}

.librarysong__duration{
    font-size: 18px;
    color: white;
    position: relative;
    right: 20px;
}

@media screen and (max-width: 480px) {
    .librarysong__container{
        height: 100px;
    }

    .librarysongcard{
        height: 100px;
        
    }

    .librarysong__picture{
    left: 10px;
}

    .librarysong__songTitle{
    font-size: 12px;

}

.librarysong__artist{
    font-size: 12px;

}

.librarysong__album{
    font-size: 12px;
  
}

.librarysong__duration{
    font-size: 12px;
    right: 10px;
}
}