.App {
  text-align: center;
}

.header {
  color: white;
}

.songList{
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  
}

.songCard{
  width: 240px;
  height: 330px;
  background-color: rgb(64, 65, 78);
  border-radius: 9px;
  box-shadow: 0 4px 8px rgba(199, 194, 194, 0.973);
  
}

.songTitle {
  margin: 0; 
  padding: 0;
  color: white;
}

.artist{
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  color: white;
}

.duration {
  font-size: 15px;
  font-weight: bold;
  color: white;
}

.picture{
  width: 200px;
  height: 200px;
  border-radius: 20px;
  padding: 9px;
}