.App {
  text-align: center;
}

.header {
  color: white;
  padding: 24px;
}

.library{
    background-color: rgb(64, 65, 78);
    width: 80%;
    height: 400px;
    margin: 0 auto 21px auto;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(199, 194, 194, 0.973);
}

.searchcontainer{
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: white;
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

label[for="searchinput"] {
  font-size: 24px;
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid white;
  width: 100%;
}

.searchbutton{
  color: white;
    background-color: black;
    padding: 6px;
}

.songList{
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  row-gap: 30px;
  padding: 20px;
}

